<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction - XSS Threat Detection (Using AI)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Prediction</h1>
        <form action="/predict" method="POST">
            <textarea name="sentence" placeholder="Enter your script for XSS detection..." required></textarea><br>
            <input type="submit" value="Check for XSS">
        </form>
        {% if prediction %}
            <p>Prediction: {{ prediction }}</p>
        {% endif %}
        <a href="/" class="button">Home</a>
        <a href="/records" class="button">History</a>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>
                Created by 
                <a href="https://hafizfarhad.com" target="_blank" rel="noopener noreferrer">
                    Hafiz Farhad
                </a>
            </p>
        </div>
    </footer>
</body>
</html>
