<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XSS Detection Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>XSS Detection Records</h1>
        <p>View a history of all the predictions made by users.</p>
        <br>
        <!-- Navigation buttons -->
            <a href="/" class="button">Home</a>
            <a href="/predict" class="button">Make a Prediction</a>
        <br>
        <!-- Records Table -->
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Input Text</th>
                    <th>Is XSS?</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.input_text }}</td>
                    <td>{{ record.is_xss }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Footer -->
    <footer>
        <p>Created by <a href="https://hafizfarhad.com" target="_blank" rel="noopener noreferrer">Hafiz Farhad</a></p>
    </footer>
</body>
</html>
